.Mazo{
    position: absolute;
    margin: 0%;
    margin-top: 35%;
    left: 75%;
    transform: perspective(800px) rotateX( 55deg );
}


.Mazo-mano{
    position: absolute;
    margin: 0%;
    margin-top: 24%;
    left: 29%;
    transform: perspective(800px) rotateX( 55deg ) scale(75%);
}